{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login akun</title>
    <link rel="stylesheet" href="{% static 'login.css' %}?v=1.0">
</head>

<body>
    <div class="form-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ forms.as_p }}
            <button type="submit">Login</button>
            <a type="register" href="{% url 'register' %}">Belum punya akun?</a>
            <a type="home" href="{% url 'dashboard' %}">Kembali ke home?</a>
        </form>
    </div>
</body>

</html>